body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}

.left-box{
    width: 373px;
    height: 56px;
    background-color: #fff;
    border: none;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 1px;
    display: flex;
    left: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.middle-box{
    width: 610px;
    height: 56px;
    background-color: #fff;
    border: none;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 1px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.right-box{
    width: 373px;
    height: 56px;
    background-color: #fff;
    border: none;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 1px;
    display: flex;
    right:1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-box input{
    text-align: center;
    border: none;
    box-sizing: border-box;
    background-color: #f0f2f5;
    padding: 10px;
    border-radius: 20px;
    width: 280px;
    position: absolute;
    display: flex;
    right: 20px;
    top: 10px;
}

.left-box img{
    width: 40px;
    height: 40px;
    left: 20px;
    position: absolute;
}

.right-box h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    left: 240px;
    position: absolute;
    color: #0866ff;
}

.right-box img{
    width: 20px;
    height: 20px;
    position: absolute;
}

.menu-box{
    border-radius: 40px;
    background-color: #f0f2f5;
    width: 40px;
    height: 40px;
    left: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

.messenger-box{
    border-radius: 40px;
    background-color: #f0f2f5;
    width: 40px;
    height: 40px;
    left: 65px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

.notification-box{
    border-radius: 40px;
    background-color: #f0f2f5;
    width: 40px;
    height: 40px;
    left: 120px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

.profile-box{
    border-radius: 40px;
    background-color: #f0f2f5;
    width: 40px;
    height: 40px;
    left: 175px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home-box{
    border-radius: 40px;
    background-color: #f0f2f5;
    width: 40px;
    height: 40px;
    left: 122px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home-box img{
    width: 20px;
    height: 20px;
    position: absolute;
}

.gaming-box{
    border-radius: 40px;
    background-color: #f0f2f5;
    width: 40px;
    height: 40px;
    right: 122px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

.gaming-box img{
    width: 20px;
    height: 20px;
    position: absolute;
}

.marketplace-box{
    border-radius: 40px;
    background-color: #f0f2f5;
    width: 40px;
    height: 40px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

.marketplace-box img{
    width: 20px;
    height: 20px;
    position: absolute;
}

.video-box{
    border-radius: 40px;
    background-color: #f0f2f5;
    width: 40px;
    height: 40px;
    left: 205px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

.video-box img{
    width: 20px;
    height: 20px;
    position: absolute;
}

.group-box{
    border-radius: 40px;
    background-color: #f0f2f5;
    width: 40px;
    height: 40px;
    right: 205px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

.group-box img{
    width: 20px;
    height: 20px;
    position: absolute;
}